@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(2,4,35);
  font-family: 'Lato', sans-serif;
}

.tagline {
  color: white;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.img-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

/* MAIN TITLE */
.title {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 5px;
  font-family: 'Playfair Display', serif;
}

/* LOGIN DIV */
#login {
  display: grid;
  grid-template-rows: repeat(3);
  justify-content: center;
  input {
    width: 300px;
    height: 30px;
    border-radius: 12px;
    margin: 2px;
    padding-left: 10px;
    border: transparent;
  }
  input:focus {
    outline: none;
  }
  // login buttons
  #login-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    grid-gap: 5px;
    // login button
    #login-btn {
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      border: transparent;
      background-color: rgb(255,102,102);
    }
    #login-btn:hover {
      cursor: pointer;
      background-color: rgb(206, 83, 83);
    }
    #login-btn:focus {
      outline: none;
    }
  // signup button on login page
    #signup-btn {
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      border: transparent;
      background-color: rgb(240,227,237);
      box-shadow: -5px 5px 10px black;
    }
    #signup-btn:hover {
      cursor: pointer;
      background-color: rgb(209, 181, 203);
    }
    #signup-btn:focus {
      outline: none;
    }

  }
  
}

/* SIGN UP DIV */
#sign-up {
  display: grid;
  grid-template-rows: repeat(3);
  justify-content: center;
  input {
    width: 300px;
    height: 30px;
    border-radius: 12px;
    margin: 2px;
    padding-left: 10px;
    border: transparent;
  }
  input:focus {
    outline: none;
  }
  
  // signup page button
  #signup-pg-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    grid-gap: 5px;
    button {
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      border: transparent;
      background-color: rgb(255,102,102);
    }
    button:hover {
      cursor: pointer;
      background-color: rgb(206, 83, 83);
    }
    button:focus {
      outline: none;
    }
    }
  }


/* ADD FORM DIV */
#add-form {
  display: flex;
  justify-content: center;
  // add form inputs
  .input-add-form {
      width: 200px;
      height: 20px;
      border-radius: 5px;
      margin: 3px;
      padding-left: 5px;
      border: transparent;
  }
  .input-add-form:focus {
    outline: none;
  }
  // add form button
  #add-btn {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    margin: 2px;
    border: transparent;
    background-color: rgb(252, 87, 87);
    color: white;
  }
  #add-btn:hover{
    cursor: pointer;
    background-color: rgb(206, 83, 83);
  }
  // add form dropdown
  select {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    margin: 2px;
    padding-left: 5px;
    border: transparent;
  }
  select:focus {
    outline: none;
  }

}
/* DASHBOARD */
#dashboard {
  grid: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #logout-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;;
    #logout-btn {
      background-color: transparent;
      border: none;
      color: rgb(192, 190, 190);
    }
    #logout-btn:hover {
      text-decoration: underline;
    }
  }
  

  #top-outer-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  // top 3 list
  #top-list {
    background-color: rgb(240,227,237);
    height: 25px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    #top-articles-list {
      grid: flex;
      flex-direction: row;
      background-color: rgb(240,227,237);
    }

    .article {
      padding: 8px;
      margin: 5px;
      border-radius: 6px;
    }
  }
    
  }
  // dropdown container
  #dropdown-container {
    display: flex;
    justify-content: space-around;
    margin-right: 200px;
    margin-left: 200px;
  }
}

/* DROPDOWNS */
.dropdown {
  //dropdown button
  .dropdown-btn {
    margin-top: 10px;
    background-color:  rgb(252, 85, 85);
    width: 200px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  .dropdown-btn:hover {
    background-color: rgb(206, 83, 83);
    cursor: pointer;
  }
  .dropdown-btn:focus {
    outline: none;
  }
  #dropdown-articles-container {
    display: flex;
    flex-direction: column;
  }
  .article {
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    flex-wrap: wrap;
    .update-btn {
      font-size: smaller;
    }
  }
}

/* ARTICLES */
.article {
  background-color: rgb(220,191,213);
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(2,4,35);
  a {
    text-decoration: none;
    color: rgb(2,4,35);
  }
  
  //update button
  .update-btn {
    border: none;
    font-size: 10px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 2px;
  }
  .update-btn:focus {
    outline: none;
  }
  .update-btn:hover {
    text-decoration: underline;
  }
  //delete button
  .delete-btn {
    border: none;
    font-size: 10px;
    background-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    font-size: small;
  }
  .delete-btn:focus {
    outline: none;
  }
  .delete-btn:hover {
    text-decoration: underline;
  }
}
.article:hover {
  cursor: pointer;
  background-color: rgb(255,102,102);
  transition: 500ms;
  a {
    color: white;
  }
  .delete-btn {
    color: white;
  }
  .update-btn {
    color: white;
  }
}

/* UPDATE MODAL */
// .update-modal {
//   // update inputs
//   .input-update {

//   }
//   // priority dropdown in update modal
//   .update-priority {

//   }
//   // update button in update modal
//   .update-modal-btn {

//   }

// }
